@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
}
@mixin flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
  /* Displays an element as an inline-level flex container */
}

.flex-1 {
  flex: 1;
  /* questa proprietà con questo valore 1, indipendentemente dal contenuto, divide i contenitori in parti uguali facendoli occupare tutto in contenitore, può averne 3 i quali corrispondono in sequenza a f-grow f-shrink e f-basis (in questo caso 1 da solo corrisponde a "1 0 auto")*/
}

/** flex-direction **/

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  @include flex-col;
}

.column-reverse {
  flex-direction: column-reverse;
}

/** /flex-direction **/

/** wrap **/

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

/** /wrap **/

/** justify-content **/

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-left {
  justify-content: left;
}
.justify-right {
  justify-content: right;
}
.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  /* !! is NOT supported by all browser*/
  justify-content: space-evenly;
}

.justify-baseline {
  justify-content: baseline;
}

.justify-first-baseline {
  justify-content: first baseline;
}

.justify-last-baseline {
  justify-content: last baseline;
}
.justify-stretch {
  /* !! NOT supported by flexible boxes (flexbox). */
  justify-content: stretch;
}

/** /justify-content **/

/** align-items **/
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}
/** /align-items **/

/** align-content **/
.al-cont-start {
  align-content: flex-start;
}
.al-cont-between {
  align-content: space-between;
}
.al-cont-end {
  align-content: flex-end;
}
.al-cont-around {
  align-content: space-around;
}

.al-cont-stretch {
  align-content: stretch;
}
/** align-content **/

/** align-self **/

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

/** /align-self **/

/** flex-shrink **/
.shrink0 {
  flex-shrink: 0;
}
.shrink1 {
  flex-shrink: 1;
}
.shrink2 {
  flex-shrink: 2;
}

/** flex-shrink **/

/** flex-grow **/

.grow1 {
  flex-grow: 1;
}
.grow2 {
  flex-grow: 2;
}

/** /flex-grow **/

/** flex-basis **/

.base30 {
  flex-basis: 30%;
}

/** flex-basis **/

/***** /flex *****/
