$brand_theme: rgb(12 124 236);
$blue_primary: rgb(2 130 249);
$almost_black: rgb(28 28 28);
$dark_grey: rgb(97, 97, 97);
$header_theme: #fff;
$footer_theme: rgb(48 48 48);
$sect_shop_theme: rgb(2 130 249);
$sect_action-theme: rgb(28 28 28);
$white_theme: #fff;
