$brand_theme: #1ecf5f;
$blue_primary: rgb(2 130 249);
$almost_black: rgb(28 28 28);
$dark_grey: rgb(97, 97, 97);
$header_theme: rgb(46 58 70);
$main_theme: rgb(30 45 59);
$footer_theme: rgba(255, 255, 255, 1);
$card_theme: rgb(2 130 249);

$white_theme: #fff;
